## pandas

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
a = np.array([[0,1,2,3,4],[0,1,2,3,4],[0,1,2,3,4],[0,1,2,3,4],[0,1,2,3,4]])

In [7]:
df_a = pd.DataFrame(data=a, columns=['uid', 'wetter', 'c', 'd', 'e'])

In [8]:
df_a

   uid  wetter  c  d  e
0    0       1  2  3  4
1    0       1  2  3  4
2    0       1  2  3  4
3    0       1  2  3  4
4    0       1  2  3  4